/*
 * @Author: Kanata You 
 * @Date: 2020-12-5 20:56:28 
 * @Last Modified by: Kanata You
 * @Last Modified time: 2021-01-16 21:00:36
 */


body {
    overflow-x: hidden;
    text-align: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    overflow-y: hidden;
}

@media screen and (orientation: portrait) {

    /* vertical */
    body {
        padding: 0 0;
        width: 100vw;
    }

    div.navi {
        margin: 0;
    }

}

@media screen and (orientation: landscape) {

    /* horizontal */
    body {
        padding: 0;
        width: 100vw;
    }

    div.navi {
        margin: 0 -2vw;
    }

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}


::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}
