body {
    overflow-x: hidden;
    text-align: center;
    font-family: ubuntu, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: radial-gradient(rgb(165,243,203) 40px, rgb(86,173,126));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

@media screen and (orientation: portrait) {

    /* vertical */
    body {
        padding: 0 0;
        width: 100vw;
    }

    div.navi {
        margin: 0;
    }

    div.card {
        width: 64vw;
        font-size: 95%;
        padding: 3.2vh 6vw;
    }
}

@media screen and (orientation: landscape) {

    /* horizontal */
    body {
        padding: 0 2vw;
        width: 96vw;
    }

    div.navi {
        margin: 0 -2vw;
    }

    div.card {
        width: 40vw;
        font-size: 110%;
        padding: 3.2vh 8vw;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}


::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}


.AppV3 {
    margin: 1vh 0;
    font-family: ubuntu, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div.card {
    background: white;
    min-width: 8vh;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 6px 5px 0 1px rgba(70,136,92,0.5);
}

.card header {
    text-align: left;
    margin: 1.2em 0 2em;
    border-bottom: 1px solid black;
    font-size: 130%;
    font-weight: bold;
}

.card p {
    text-align: left;
}

div.ButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.LinkButton {
    display: inline-block;
    font-size: 120%;
    text-align: center;
    cursor: pointer;
    min-width: 2.8em;
    padding: 0.2em 0.8em;
    background: rgb(255,255,255) !important;
    color: rgb(64,196,99) !important;
    border: 1px solid rgb(64,196,99);
    transition: color 0.6s, background 0.6s;
    /* transition-duration: 0.6s; */
}

div.LinkButton:hover {
    background: rgb(64,196,99) !important;
    color: rgb(255,255,255) !important;
}
