.internal-link {
  flex-grow: 0;
  margin: 0 0.25em;
  padding: 0 0.1em;
  color: #570E89;
  
  &.active {
    color: #fcfcfc;
  }

  position: relative;
  text-decoration: none;
  outline: none;
  transition: color 80ms;
  transition-delay: 20ms;
  text-shadow: none;
  
  &.active {
    text-shadow: 0.5px 0.5px 2.5px rgba(0,0,0,0.75);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 68%;
    left: -0.1em;
    right: -0.2em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1), border-radius 40ms;
    background-color: #C879FF;
    border-radius: 0.5em 100% 130% 0.5em;
    pointer-events: none;
  }

  &.active {

    &::before {
      top: 12%;
      border-radius: 0.2em;
    }
  }
}
