/** ESPOIR TEMPLATE */
:root {
  font-size: calc(0.5vmin + 12px);
}
      
body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Microsoft YaHei', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  transition: background-color 200ms, color 200ms;
  
  @media (prefers-color-scheme: light) {
    background-color: rgb(241,242,236);
    color: rgb(31,29,24);
  }

  &.hibou-color-scheme-light {
    background-color: rgb(241,242,236);
    color: rgb(31,29,24);
  }
  
  @media (prefers-color-scheme: dark) {
    background-color: rgb(12,13,15);
    color: rgb(211, 212, 206);
  }

  &.hibou-color-scheme-dark {
    background-color: rgb(12,13,15);
    color: rgb(211, 212, 206);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

rt {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #570E89C0;
  color: #f0f0f0;
}
